@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table-scroll-x-y {
        height: auto !important;
    }

    input {
        text-transform: capitalize;
    }

    textarea {
        text-transform: capitalize;
    }
</style>
<script>
    var VoucherType = "@ViewBag.VoucherType";
    var EntityId = "@ViewBag.EntityId";
</script>
<link href="~/wwwroot/dynamic-erp/css/newCss.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/jslib/service/transaction/NewJobCard_Dugar.js"></script>

<div ng-app="myApp" ng-controller="NewJobCard" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">
    <div class="box-body">
        <div class="content">
            <div class="container-fluid" style="margin-bottom:70px;">
                @RenderPage("~/Views/Global/_WaitDialog.cshtml")
                <div class="card" style="min-height:1050px">
                    <div class=" p-2">
                        <div class="card-header header-corner-triangle overflow-hidden" ng-hide="HideShow.CostClass==true && HideShow.Branch==true">
                            <div class="row">
                                <h3 class="card-title">JOB Card</h3>
                                <div class="col-sm-4" ng-hide="HideShow.VoucherType==true">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-5 col-form-label text-nowarp">Voucher Type<span style="color:red">*</span></label>
                                        <div class="col-sm-7">
                                            <select class="form-control  hideSideBar" style="width: 100%;" ng-model="beData.VoucherId" ng-change="getVoucherNo()">
                                                <option ng-repeat="vt in VoucherTypeColl track by vt.VoucherId" ng-value="vt.VoucherId" ng-selected="vt.VoucherId == beData.VoucherId">
                                                    {{vt.VoucherName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4" ng-hide="HideShow.CostClass==true">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">For Year<span style="color:red">*</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control  hideSideBar" style="width: 100%;" ng-model="beData.CostClassId" ng-change="getVoucherNo()">
                                                <option ng-repeat="cc in CostClassColl track by cc.CostClassId" ng-value="cc.CostClassId" ng-selected="cc.CostClassId == beData.CostClassId">
                                                    {{cc.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Job No.</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.AutoManualNo" readonly title="{{beData.TranId>0 ? beData.TranId : ''}}" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="min-width:90px">Date<span style="color:red">*</span></label>
                                    <input type="text" class="form-control form-control-sm float-right serial hideSideBar" date-picker ng-model="beData.EntryDateTime_TMP" date-detail="beData.EntryDateTimeDet" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group d-flex">
                                    <input type="time" class="form-control form-control-sm" ng-model="beData.EntryTime_TMP" readonly />
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-md-4 ">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-12 col-md-12">
                                        <div class="input-group-prepend">
                                            <select class="input-group-text dropdown-toggle p-0"
                                                    style="outline: none; border-top-right-radius: unset;border-bottom-right-radius: unset;margin-right: -3px;z-index: 1;" ng-model="beData.SearchOption">

                                                <option ng-repeat="ss in VehicleSearchOptions" ng-value="ss.value" ng-selected="ss.value==beData.SearchOption">
                                                    {{ss.text}}
                                                </option>
                                            </select>
                                            <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-vehicle ng-model="beData.VehicleEntryId" style="width:100%"
                                                    placeholder="** Select Vehicle  **" showdetails="true" confirm-action="VehicleSelectionChange(beData,$index)" vehicle-detail="beData.vehicleDetail" side-bar-data="beData.sideBarData" voucher-id="SelectedBranch.BranchId" search-by="beData.SearchOption"></select>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label>Job Card For<span style="color:red">*</span></label>
                                        <select class="form-control form-control-sm select2" readOnly ng-model="beData.JobFor">
                                            <option ng-repeat="jf in JobCardForList" ng-value="jf.id" ng-selected="jf.id==beData.JobFor">{{jf.text}}</option>
                                        </select>
                                    </div>
                                </div>*@

                            <div class="col-md-3">
                                <div class="form-groupx">
                                    <label>Party<span style="color:red">*</span></label>
                                    <select autoShowHide="true" class="select2 serial form-control-sm" all-ledger ng-model="beData.PartyId" style="width:95%" ledgertype="3" fortransaction="true"
                                            placeholder="** Select Party Name **" showdetails="true" confirm-action="PartySelectionChange(beData)" ledger-detail="beData.PartyLedger" side-bar-data="beData.partySideBarData" vouchertype="14" voucher-id="SelectedVoucher.VoucherId"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Address<span style="color:red">*</span></label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.Address" />
                                </div>
                            </div>

                            @*<div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Service Type<span style="color:red">*</span></label>
                                        <select class="form-control form-control-sm select2" ng-model="beData.ServiceType">
                                            <option ng-repeat="jf in ServiceTypeList" ng-value="jf.id" ng-selected="jf.id==beData.ServiceType">{{jf.text}}</option>
                                        </select>
                                    </div>
                                </div>*@
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Job Card For<span style="color:red">*</span></label>
                                    <select class="form-control form-control-sm select2" style="width: 100%;" ng-model="beData.JobCardTypeId" data-placeholder="** Job Type **" id="cboJobCardType">
                                        <option ng-value="cl.id" ng-repeat="cl in JobCardTypeList" ng-selected="beData.JobCardTypeId==cl.id">{{cl.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Service Type<span style="color:red">*</span></label>
                                    <select class="form-control form-control-sm select2" ng-model="beData.ServiceType">
                                        <option ng-repeat="jf in ServiceTypeList | filter: { JobCardTypeId: beData.JobCardTypeId }:true" ng-value="jf.id" ng-selected="jf.id==beData.ServiceType">{{jf.text}}</option>
                                    </select>
                                </div>
                            </div>
                            @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label>Team Leader<span style="color:red">*</span></label>
                                        <select class="form-control form-control-sm select2" ng-model="beData.TeamLeaderId">
                                            <option ng-repeat="jf in TeamLeaderColl | filter:BranchFilter" ng-value="jf.TranId" ng-selected="jf.TranId==beData.TeamLeaderId">{{jf.Name}}</option>
                                        </select>
                                    </div>
                                </div>*@
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Service Engineer<span style="color:red">*</span></label>
                                    <select class="form-control form-control-sm select2" ng-model="beData.ServiceTechnicianId">
                                        <option ng-repeat="jf in ServiceEngineerColl | filter:BranchFilter" ng-value="jf.TranId" ng-selected="jf.TranId==beData.ServiceTechnicianId">{{jf.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Main Technician<span style="color:red">*</span></label>
                                    <select class="form-control form-control-sm select2" ng-model="beData.MechanicId">
                                        @*<option ng-repeat="jf in MechanicColl | filter: { BranchId: SelectedVoucher.BDId }:true" ng-value="jf.TranId" ng-selected="jf.TranId==beData.MechanicId">{{jf.Name}}</option>*@
                                        <option ng-repeat="jf in MechanicColl | filter:BranchFilter" ng-value="jf.TranId" ng-selected="jf.TranId==beData.MechanicId">{{jf.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Supporting Technician</label>
                                    @*<multi-select-option ng-model="beData.MechanicIdColl" data="MechanicColl" label="Name" value="TranId"></multi-select-option>*@
                                    <select class="form-control form-control-sm select2" style="width: 100%;" ng-model="beData.MechanicIdColl" multiple data-placeholder="** Technician **" id="cboMechanic">
                                        <option value="{{cl.TranId}}" ng-repeat="cl in MechanicColl">{{cl.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label>Mechanic</label>
                                        <input type="text" class="form-control-sm form-control" data-ng-model="beData.Mechanic" list="lstMechanic">
                                        <datalist id="lstMechanic">
                                            <option data-ng-repeat="ttl in MechanicColl" value="{{ttl.Name}}">
                                        </datalist>
                                    </div>
                                </div>*@

                            @*<div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="custom-control custom-checkbox mt-2">
                                                <input class="custom-control-input" type="checkbox"
                                                       id="customCheckboxWarr" ng-model="beData.Warranty" disabled>
                                                <label for="customCheckboxWarr"
                                                       class="custom-control-label">
                                                    Is Under Warranty
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="custom-control custom-checkbox mt-2">
                                                <input class="custom-control-input" type="checkbox"
                                                       id="customCheckboxAmc" ng-model="beData.AMC">
                                                <label for="customCheckboxAmc"
                                                       class="custom-control-label">
                                                    Is AMC
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Warranty Status<span style="color:red">*</span></label>
                                            <select class="form-control form-control-sm" style="width: 100%;" ng-model="beData.Warranty">
                                                <option ng-value="cl.id" ng-repeat="cl in WarrantyColl" ng-selected="beData.Warranty==cl.id">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>AMC Status<span style="color:red">*</span></label>
                                            <select class="form-control form-control-sm" style="width: 100%;" ng-model="beData.AMC">
                                                <option ng-value="cl.id" ng-repeat="cl in AMCColl" ng-selected="beData.AMC==cl.id">{{cl.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Running Hour<span style="color:red">*</span></label>
                                            <input type="text" class="form-control form-control-sm" number-input min-value="beData.LastRunningHR" ng-model="beData.RunningHR" ng-blur="CheckIsWarranty()" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Running KM</label>
                                            <input type="text" class="form-control form-control-sm" number-input ng-model="beData.RunningKM" ng-blur="CheckIsWarranty()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Complain<span style="color:red">*</span></label>
                                    <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="1" ng-model="beData.Complain"></textarea>
                                </div>
                            </div>

                            @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label>Jobs To be Attended</label>
                                        <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="1" ng-model="beData.JobTobeAttended"></textarea>
                                    </div>
                                </div>*@

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Remarks</label>
                                    <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="1" ng-model="beData.Remarks"></textarea>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Party Mobile No.<span style="color:red">*</span></label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.PartyMobileNo" maxlength="10" readonly />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Alternate Mobile No.<span style="color:red">*</span></label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.DriverMobileNo" maxlength="10" />
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Estimated Date Time</label>
                                    <input type="text" class="form-control form-control-sm float-right serial hideSideBar" date-picker ng-model="beData.EstimatedDate_TMP" date-detail="beData.EstimatedDateDet" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <input type="time" class="form-control form-control-sm  mt-4" ng-model="beData.EstimatedDateTime_TMP" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Estimated Cost</label>
                                    <input type="text" class="form-control form-control-sm" number-input ng-model="beData.EstimatedCost" style="text-align: right;" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Date of Sale<span style="color:red">*</span></label>
                                    <input disabled type="text" date-picker class="form-control form-control-sm" ng-model="beData.DateOfSale_TMP" date-detail="beData.DateOfSaleDet" />
                                </div>
                            </div>

                            @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label>Next Service Date</label>
                                        <input type="text" date-picker class="form-control form-control-sm" ng-model="beData.NextServiceDate_TMP" date-detail="beData.NextServiceDateDet" />
                                    </div>
                                </div>*@
                            @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label>Dealer</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.Dealer" />
                                    </div>
                                </div>*@

                            <div class="col-md-3">
                                <div class="form-groupx">
                                    <label>Dealer</label>
                                    <select class="form-control form-control-sm select2" style="width: 100%;" ng-model="beData.DealerId" data-placeholder="**select dealer**">
                                        <option ng-value="cl.id" ng-repeat="cl in DealerColl" ng-selected="beData.DealerId==cl.id">{{cl.text}}</option>
                                    </select>
                                    @*<select autoShowHide="true" class="select2 serial form-control-sm" all-ledger ng-model="beData.DealerId" style="width:95%" ledgertype="15" fortransaction="true"
                                        placeholder="** Select Dealer Name **" showdetails="false" confirm-action="DealerSelectionChange(beData)" ledger-detail="beData.DealerLedger" side-bar-data="beData.partySideBarData" vouchertype="14" voucher-id="SelectedVoucher.VoucherId"></select>*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Site Location<span style="color:red">*</span></label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.SiteLocation" list="lstSiteLocation" />
                                    <datalist id="lstSiteLocation">
                                        <option data-ng-repeat="ttl in SiteLocationColl" value="{{ttl.text}}">
                                    </datalist>
                                </div>
                            </div>

                            @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label>Engine No</label>
                                        <input type="text" class="form-control form-control-sm" readonly ng-model="beData.EngineNo" />
                                    </div>
                                </div>*@
                            @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label>Vin No</label>
                                        <input type="text" class="form-control form-control-sm" readonly ng-model="beData.VinNo" />
                                    </div>
                                </div>*@
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>ECh. Srl.No</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.ChSrlNo" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Regd No</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.RegdNo" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Vehicle Type</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.VehicleTypeName" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Model</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.VehicleModelName" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-header py-1 my-2 header-primary d-flex justify-content-between align-items-center" style="background-color: #068abf; color: #ffffff;" @*ng-click="ShowVehicleHistory(beData.VehicleEntryId)"*@>
                        <h5 class="mb-0" ng-click="ShowVehicleHistory(beData.VehicleEntryId)">Last Job Details <i class="fas fa-scroll text-warning me-2" title="Vehicle History"></i></h5>
                        <span style="font-size: 1.2rem; cursor: pointer; margin-left: auto; color:yellow;"
                              ng-click="ToggleLastJobDetails()" title="Hide/Unhide">
                            {{ showLastJobDetails ? '▲' : '▼' }}
                        </span>

                    </div>
                    <div class="p-2" ng-show="showLastJobDetails">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Job No</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.Last_JobAutoManualNo" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="text" date-picker class="form-control form-control-sm" readonly ng-model="beData.LastDate_TMP" date-detail="beData.LastDateDet" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Hr</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.LastRunningHR" />
                                </div>
                            </div>
                            @*  Done: change into Branch form KM*@
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Branch</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.LastBranch" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Service Type</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.LastServiceType" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Complain</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.LastComplain" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>FeedBack</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.LastFeedBack" />
                                </div>
                            </div>
                            @*  Done: change into Dealer form Remarks*@
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Dealer</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.Last_Dealer" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-header py-1 my-2 header-primary d-flex justify-content-between align-items-center" style="background-color: #068abf; color: #ffffff;">
                        <h5 class="mb-0">Complain</h5>
                        <span style="font-size: 1.2rem; cursor: pointer; margin-left: auto; color:yellow;"
                              ng-click="ToggleComplain()" title="Hide/Unhide">
                            {{ showComplain ? '▲' : '▼' }}
                        </span>
                    </div>
                    <div class="p-2" ng-show="showComplain">
                        <div class="table-scroll-x-y table-scroll mt-2" style="max-height: calc(100vh - 250px);">
                            <datalist id="lstComplainType">
                                <option data-ng-repeat="ttl in ComplainTypeList" value="{{ttl.Name}}">
                            </datalist>
                            <table id="maintable" class="table table-bordered table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th style="width:70px; z-index: 3; background-color: #ececec !important">S.No</th>
                                        <th style="width:200px; z-index: 3; background-color: #ececec !important">Problem Aggregate</th>
                                        <th style="width:200px; z-index: 3; background-color: #ececec !important">Diagnosis</th>
                                        <th style="width: 200px; z-index: 3; background-color: #ececec !important">Action Taken</th>
                                        <th style="width: 80px; z-index: 3; background-color: #ececec !important">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="jc in beData.CompalinDetailsColl">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            <input type="text" class="form-control-sm form-control" data-ng-model="jc.Complain" list="lstComplainType">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" ng-model="jc.Diagnosis">
                                        </td>
                                        <td>
                                            <select class="form-control form-control-sm" style="width: 100%;" ng-model="jc.ActionTaken">
                                                <option value="">**select action**</option>
                                                <option ng-value="cl.text" ng-repeat="cl in ActionTakenColl" ng-selected="beData.ActionTaken==cl.text">{{cl.text}}</option>
                                            </select>
                                            @*<input type="text" class="form-control form-control-sm" ng-model="jc.ActionTaken">*@
                                        </td>
                                        <td class="text-center align-middle">
                                            <div>
                                                <a class="p-1" ng-click="AddNewJobCardDet()">
                                                    <i class="fas fa-plus text-secondary"></i>
                                                </a>

                                                <a class="p-1" ng-click="delNewJobCardDet($index)">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>


                    @*<div class="card-header py-1 my-2 header-primary d-flex justify-content-between align-items-center" style="background-color: #068abf; color: #ffffff;">
                            <h5 class="mb-0">Complain Inspection Details</h5>
                            <span style="font-size: 1.2rem; cursor: pointer; margin-left: auto; color:yellow;"
                                  ng-click="ToggleComplainInspectionDetails()" title="Hide/Unhide">
                                {{ showComplainInspectionDetails ? '▲' : '▼' }}
                            </span>

                        </div>
                        <div class="p-2" ng-show="showComplainInspectionDetails">
                            <div class="table-scroll-x-y table-scroll mt-2" style="max-height: calc(100vh - 100px);">

                                <table id="maintable" class="table table-bordered table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th style="width:120px; z-index: 3; background-color: #ececec !important">Group</th>
                                            <th style="width:230px; z-index: 3; background-color: #ececec !important">InspectionType</th>
                                            <th style="width:230px; z-index: 3; background-color: #ececec !important">Description</th>
                                            <th style="width:150px; z-index: 3; background-color: #ececec !important">Bill Type</th>
                                            <th class="text-center" style="width: 130px; z-index: 3; background-color: #ececec !important">Mechanic</th>
                                            <th class="text-center" style="width: 70px; z-index: 3; background-color: #ececec !important">Qty</th>
                                            <th class="text-center" style="width: 100px; z-index: 3; background-color: #ececec !important">Rate</th>
                                            <th class="text-center" style="width: 100px; z-index: 3; background-color: #ececec !important">Dis.Amt.</th>
                                            <th class="text-center" style="width: 110px; z-index: 3; background-color: #ececec !important">Amount</th>
                                            <th class="text-center" style="width: 80px; z-index: 3; background-color: #ececec !important">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="ci in beData.ComplainInsColl">
                                            <td ng-hide="ci.IsModify==true">
                                                <select class="form-control form-select select2 form-control-sm" active-select2 style="width: 100%;" ng-model="ci.GroupId">
                                                    <option ng-value="itc.InspectionTypeGroupId" ng-repeat="itc in InspectionTypeGroupList" ng-selected="itc.InspectionTypeGroupId==ci.GroupId">{{itc.Name}}</option>
                                                </select>
                                            </td>
                                            <td ng-show="ci.IsModify==true">
                                                {{ci.Group}}
                                            </td>
                                            <td ng-hide="ci.IsModify==true">
                                                <select autoShowHide="true" class="form-control form-control-sm select2 serial" vehicle-inspection ng-model="ci.InspectionTypeId" style="width:100%" group-id="ci.GroupId" type-id="beData.VehicleTypeId" model-id="beData.VehicleModelId"
                                                        placeholder="** Select Inspection  **" confirm-action="InspectionSelectionChange(ci,$index)" inspection-detail="ci.inspectionDetail" side-bar-data="beData.sideBarData" voucher-id="SelectedBranch.BranchId" search-by="beData.SearchOption"></select>
                                            </td>
                                            <td ng-show="ci.IsModify==true">
                                                {{ci.InspectionType}}
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" ng-model="ci.Description">
                                            </td>
                                            <td>
                                                <select class="form-control form-control-sm" active-select2 style="width: 100%;" ng-model="ci.JobCardTypeId" data-placeholder="** Bill Type **">
                                                    <option ng-value="cl.id" ng-repeat="cl in JobCardTypeList" ng-selected="cl.id == ci.JobCardTypeId">{{cl.text}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control form-control-sm select2" active-select2 ng-model="ci.MechanicId">
                                                    <option ng-repeat="jf in MechanicColl | filter: { BranchId: SelectedVoucher.BDId }:true" ng-value="jf.TranId" ng-selected="jf.TranId==ci.MechanicId">{{jf.Name}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" number-input class="form-control form-control-sm" ng-model="ci.Qty" onfocus="this.select()" style="text-align: right;" ng-change="ChangeItemRow(ci,'qty')">
                                            </td>
                                            <td>
                                                <input type="text" number-input class="form-control form-control-sm" ng-model="ci.LabourCharge" onfocus="this.select()" style="text-align: right;" ng-change="ChangeItemRow(ci,'rate')">
                                            </td>
                                            <td>
                                                <input type="text" number-input class="form-control form-control-sm" ng-model="ci.DiscountAmt" onfocus="this.select()" style="text-align: right;" ng-change="ChangeItemRow(ci,'discountAmt')">
                                            </td>
                                            <td>
                                                <input type="text" number-input class="form-control form-control-sm" ng-model="ci.Amount" onfocus="this.select()" style="text-align: right;" ng-change="ChangeItemRow(ci,'amt')">
                                            </td>
                                            <td class="text-center align-middle">
                                                <div>
                                                    <a class="p-1" ng-click="AddComplainInspectionDet()" data-original-title="View doc">
                                                        <i class="fas fa-plus text-secondary"></i>
                                                    </a>

                                                    <a class="p-1" ng-click="delComplainInspectionDet($index)">
                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-header py-1 my-2 header-primary d-flex justify-content-between align-items-center" style="background-color: #068abf; color: #ffffff;">
                            <h5 class="mb-0">Spare Parts Demand</h5>
                            <span style="font-size: 1.2rem; cursor: pointer; margin-left: auto; color:yellow;"
                                  ng-click="ToggleSparePartsDemand()" title="Hide/Unhide">
                                {{ showSparePartsDemand ? '▲' : '▼' }}
                            </span>

                        </div>
                        <div class="p-2" ng-show="showSparePartsDemand">
                            <div class="table-scroll-x-y table-scroll mt-2" style="max-height: calc(100vh - 100px);">
                                <table id="maintable" class="table table-bordered table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="cstm-sticky" style="width:200px;left:0; z-index: 3; background-color: #ececec !important">Product</th>
                                            <th class="cstm-sticky" style="width: 200px; left: 200px; z-index: 3; background-color: #ececec !important">Alternate Product</th>
                                            <th class="text-center cstm-sticky" style="width:110px; left:400px; z-index: 3; background-color: #ececec !important">Closing Stock</th>
                                            <th class="text-center" style="width:110px; z-index: 2; background-color: #ececec !important">Demand Date</th>
                                            <th class="text-center" style="width: 110px; z-index: 2; background-color: #ececec !important">Demand Qty</th>
                                            <th class="text-center" style="width: 90px; z-index: 2; background-color: #ececec !important">Issue Qty</th>
                                            <th class="text-center" style="width: 90px; z-index: 2; background-color: #ececec !important">Rate</th>
                                            <th class="text-center" style="width: 90px; z-index: 2; background-color: #ececec !important">Discount</th>
                                            <th class="text-center" style="width: 100px; z-index: 2; background-color: #ececec !important">Amount</th>
                                            <th class="text-center" style="width: 150px; z-index: 2; background-color: #ececec !important">Bill Type</th>
                                            <th style="width: 250px; z-index: 2; background-color: #ececec !important">Mechanic</th>
                                            <th style="width: 250px; z-index: 2; background-color: #ececec !important">Remarks</th>
                                            <th class="text-center" style="width: 80px; z-index: 2; background-color: #ececec !important">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="sp in beData.SparePartIssColl">
                                            <td class="cstm-sticky" style="left:0; z-index: 3; background-color: #fff !important">
                                                <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-product ng-model="sp.ProductId" style="width:100%"
                                                        placeholder="** Select Product  **" showdetails="true" confirm-action="ProductSelectionChange(sp,$index)" product-detail="sp.productDetail" side-bar-data="sp.sideBarData"></select>
                                            </td>
                                            <td class="cstm-sticky" style="left:200px; z-index: 3; background-color: #fff !important">
                                                <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-product ng-model="sp.AlterNetProductId" style="width:100%"
                                                        placeholder="** Select Product  **" showdetails="true" confirm-action="AProductSelectionChange(sp,$index)" product-detail="sp.aproductDetail" side-bar-data="sp.asideBarData"></select>

                                            </td>
                                            <td class="text-center cstm-sticky" style="left:400px; z-index: 3; background-color: #fff !important">
                                                {{sp.ClosingQty}} || {{sp.AClosingQty}}
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" date-picker ng-model="sp.DemandDate_TMP" date-detail="sp.DemandDateDet">
                                            </td>
                                            <td>
                                                <input type="text" number-input class="form-control form-control-sm" ng-model="sp.DemandQty" onfocus="this.select()" style="text-align: right;">
                                            </td>
                                            <td>
                                                <input type="text" number-input class="form-control form-control-sm" ng-model="sp.IssueQty1" onfocus="this.select()" style="text-align: right;">
                                            </td>
                                            <td>
                                                <input type="text" number-input class="form-control form-control-sm" ng-model="sp.Rate" onfocus="this.select()" style="text-align: right;" disabled>
                                            </td>
                                            <td>
                                                <input type="text" number-input class="form-control form-control-sm" ng-model="sp.Discount" onfocus="this.select()" style="text-align: right;">
                                            </td>
                                            <td>
                                                <input type="text" number-input class="form-control form-control-sm" ng-model="sp.Amount" onfocus="this.select()" style="text-align: right;" disabled>
                                            </td>
                                            <td>
                                                <select class="form-control form-control-sm" style="width: 100%;" ng-model="sp.JobCardTypeId" data-placeholder="** Bill Type **">
                                                    <option ng-value="cl.JobCardTypeId" ng-repeat="cl in JobCardTypeList" ng-selected="cl.JobCardTypeId == sp.JobCardTypeId">{{cl.text}}</option>
                                                </select>
                                            </td>

                                            <td>
                                                <select class="form-control form-control-sm select2" active-select2 ng-model="sp.MechanicId">
                                                    <option ng-repeat="jf in MechanicColl | filter: { BranchId: SelectedVoucher.BDId }:true" ng-value="jf.TranId" ng-selected="jf.TranId==sp.MechanicId">{{jf.Name}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" ng-model="sp.Remarks">
                                            </td>
                                            <td class="text-center align-middle">
                                                <div>
                                                    <a class="p-1" ng-click="AddSparePartsIssueDet()" data-original-title="View doc">
                                                        <i class="fas fa-plus text-secondary"></i>
                                                    </a>

                                                    <a class="p-1" ng-click="delSparePartsIssueDet($index)">
                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>


                        <div class="card-header py-1 my-2 header-primary d-flex justify-content-between align-items-center" style="background-color: #068abf; color: #ffffff;">
                            <h5 class="mb-0">Close Job Card</h5>
                            <span style="font-size: 1.2rem; cursor: pointer; margin-left: auto; color:yellow;"
                                  ng-click="ToggleCloseJobCard()" title="Hide/Unhide">
                                {{ showCloseJobCard ? '▲' : '▼' }}
                            </span>

                        </div>
                        <div class="p-2" ng-show="showCloseJobCard" style="margin-bottom:70px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group d-flex">
                                        <label class="mt-1 text-nowrap" style="min-width:120px!important">Remarks<span style="color:red">*</span></label>
                                        <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="1" ng-model="beData.CloseRemarks"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group d-flex">
                                        <label class="mt-1 text-nowrap" style="min-width:120px!important">Notes</label>
                                        <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="3" ng-model="beData.CloseNotes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                </div>
            </div>
            <footer class="main-footer">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#documentAttachModal">
                            Document Attach ({{ (beData.AttechFiles.length+(beData.DocumentColl ? beData.DocumentColl.length : 0)) }} )
                        </button>
                    </div>
                    <div class="col-md-8">
                        <div class="text-right control-btns">
                            <button type="button" class="btn btn-default ml-1" ng-click="SearchData()">Search</button>
                            <button type="button" class="btn btn-default ml-1" ng-click="Print()" ng-show="lastTranId>0 && lastVoucherId>0">Re-Print</button>
                            <button type="button" class="btn btn-default ml-1" ng-click="ClearNewJobCard()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                            <button type="button" class="btn btn-primary ml-1" ng-click="AddNewJobCard()" ng-disabled="loadingstatus=='running'"><span class="glyphicon glyphicon-save"></span>Accept</button>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="modal fade sales-invoice-page-modal document-attach-modal modal-static-esc" id="documentAttachModal" tabindex="-1" role="dialog" aria-labelledby="documentAttachModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header p-2">
                    <h6 class="modal-title text-primary" id="exampleModalCenterTitle">
                        <strong>Document Attach</strong>
                    </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body gradient-bg pt-2">
                    <div class="timeline-item">
                        <div class="add-more-than-one-form-block">
                            <form>
                                <article>
                                    <div class="row">
                                        @*UIUX code update: grid from col-sm-10 to col-sm-12*@
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Attach Document</label>
                                                        @*<div class="form-group">
                                                                <input type="file" id="flMoreFiles" class="form-control-file border p-0 bg-white" file-model ng-model="attachFile">
                                                            </div>*@
                                                        @*<div class="new-cstm-file-upload">
                                                                    <div class="drop-area" file-drop>
                                                                        <h3>Drag & Drop Files Here</h3>
                                                                        <p>or click to browse</p>
                                                                        <input type="file" id="flMoreFiles" multiple file-model ng-model="attachFile">
                                                                        <ul class="file-list"></ul>
                                                                    </div>
                                                            </div>*@

                                                        <div class="new-cstm-file-upload">
                                                            <div class="drop-area" file-drop>
                                                                <div class="icon"></div>
                                                                <h3>Drag & Drop Files Here</h3>
                                                                <p>or <span>click to browse</span></p>
                                                                <input type="file" id="flMoreFiles" multiple file-model ng-model="attachFile">
                                                                <div class="attached-list">
                                                                    <ul class="file-list"></ul>
                                                                    <button class="btn btn-sm text-danger clear-files" style="display: none;">Clear</button>
                                                                </div>
                                                            </div>

                                                        </div>


                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="d-flex flex-column h-100 justify-content-between">
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            @*<input type="text" class="form-control form-control-sm"
                                                                ng-model="docDescription"
                                                                placeholder="">*@
                                                            <textarea class="form-control form-control-sm dynamic-uiux" rows="4" ng-model="docDescription"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label class="invisible d-none">for height</label>
                                                                <button type="button" class="btn btn-sm btn-outline-primary btn-block py-1" ng-click="AddMoreFiles(attachFile,docDescription)"><i class="fas fa-plus"></i> Add More</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </form>
                        </div>
                        <div class="">
                            <div class="table-responsive">
                                <table class="table table-hover border bg-white mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width: 20px">SN.</th>

                                            <th scope="col">File Name</th>
                                            <th scope="col">Description</th>
                                            <th scope="col" style="width: 130px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ac in beData.DocumentColl">
                                            <th scope="row">{{$index+1}}</th>

                                            <td>{{ac.Name}}</td>
                                            <td>{{ac.Description}}</td>
                                            <td>
                                                <div>
                                                    <a class="p-1" href="#" ng-click="ShowPersonalImg(ac)" data-toggle="tooltip" data-placement="top" title="" data-original-title="View doc">
                                                        <i class="fas fa-eye text-secondary"></i>
                                                    </a>

                                                    <a class="p-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete doc." ng-click="delAttachmentFiles($index)">
                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-1">
                    <button type="button" class="btn btn-sm btn-add btn-outline-secondary dynamic-uiux-sm-btn" style="width:50px" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="PersonalImg" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body mb-0 p-2">
                    <iframe class="responsive-iframe" ng-hide="viewImg.FileType === 'image'" id="pdfViewer" style="width: 100%; height: 700px; border: none;"></iframe>
                    <img ng-show="viewImg.FileType === 'image'" ng-src="{{viewImg.ContentPath}}" alt="" style="width: 100%; height: auto;" id="imgPreviewAdd">
                </div>
                <div class="modal-footer p-2">
                    <div><a href="{{viewImg.ContentPath}}" download>Download</a></div>
                    <button class="btn btn-success btn-rounded btn-sm ml-4 btn-add text-center" data-dismiss="modal" type="button" style="min-width: 70px;">Close</button>
                </div>
            </div>
        </div>
    </div>

    @RenderPage("~/Global/_ReportTemplates.cshtml")

    <!--  Search Voucher right button Modal demo -->
    <div class="modal fade sales-invoice-page-modal document-attach-modal" id="searVoucherRightBtn" tabindex="-1" role="dialog" aria-labelledby="partyAccRightBtn" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalCenterTitle">Search JobCard</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body gradient-bg">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label col-form-label-sm text-center">Search By</label>
                                <div class="col-sm-10">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <select class="form-control form-control-sm" style="width: 100%;" ng-model="paginationOptions.SearchColDet">
                                                <option ng-value="asp" ng-repeat="asp in TranSearchOptions">{{asp.text}}</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" ng-model="paginationOptions.SearchVal" ng-change="ReSearchData(-1)">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-search" ng-click="ReSearchData(-1)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form class="float-right">
                                <div class="form-row align-items-center">
                                    <div class="d-flex align-items-center">
                                        <label class="mr-sm-2 mb-0" for="inlineFormCustomSelect">Show</label>
                                        <input type="text" ng-model="paginationOptions.pageSize" class="form-control input-sm" placeholder="NoOfRows" @*ng-blur="ReSearchData(-2)"*@>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="">
                        <table id="main-table" class="main-table table table-sm table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Miti</th>
                                    <th>Job No.</th>
                                    <th>Engine No.</th>
                                    <th>ChSrl No.</th>
                                    <th>Regd. No.</th>
                                    <th>Party</th>
                                    @*<th>Address</th>*@
                                    <th>Contact No.</th>
                                    <th>Branch</th>
                                    <th style="min-width:100px">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="sd in SearchDataColl |orderBy:sortKey:reverse|itemsPerPage:paginationOptions.pageSize" total-items="paginationOptions.TotalRows">
                                    <td align="center">{{sd.EntryDate |dateFormat}}</td>
                                    <td align="center">{{sd.EntryMiti}}</td>
                                    <td align="center">{{sd.JobCardNo}}</td>
                                    <td>{{sd.EngineNo}}</td>
                                    <td>{{sd.ChSrlNo}}</td>
                                    <td>{{sd.RegdNo}}</td>
                                    <td>{{sd.PartyName}}</td>
                                    @*<td>{{sd.Address}}</td>*@
                                    <td>{{sd.MobileNo}}</td>
                                    <td>{{sd.Branch}}</td>
                                    <td>
                                        <a class="p-1" href="#" ng-click="GetTransactionById(sd)" ng-hide="ButtonED.IRD==true">
                                            <i class="fas fa-edit text-info"></i>
                                        </a>
                                        <a class="p-1" href="#" ng-click="DelTransactionById(sd)" ng-hide="ButtonED.IRD==true">
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </a>
                                        <a class="p-1" href="#" ng-click="PrintVoucher(sd.TranId)">
                                            <i class="fas fa-print text-primary"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <dir-pagination-controls max-size="paginationOptions.pageSize" direction-links="true" boundary-links="true"
                                                 on-page-change="ReSearchData(newPageNumber)">
                        </dir-pagination-controls>
                    </div>

                </div>
                <!-- end modal body -->
                <div class="modal-footer justify-content-between align-items-center py-2">
                    <h6 class="mb-0">Total Record: {{paginationOptions.TotalRows}}</h6>
                    <div class="">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @RenderPage("~/Views/Global/_EditTran.cshtml")
</div>
<script src="~/wwwroot/dist/js/cstmjs.js"></script>
<script>
    document.querySelector('.responsive-iframe').onload = function () {
        const iframeDocument = this.contentDocument || this.contentWindow.document;
        const img = iframeDocument.querySelector('img');
        if (img) {
            img.style.width = '100%';
            img.style.height = 'auto';
        }
    };
</script>