@model Dynamic.BusinessEntity.Setup.EmailSetup
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
@*<script src="~/jslib/setup/security.js"></script>*@

<div @*ng-app="myApp" ng-controller="emailSetupCtrl"*@ ng-class="{waiting: loadingstatus=='running'}">
    @RenderPage("~/Views/Global/_WaitDialog.cshtml")
    <div class="p-4"></div>
    <div class="content">
        <div class="container-fluid">

            <div class="card">
                <div class="card-header header-corner-triangle">
                    <h3 class="card-title">Email Setup For Auto Email</h3>
                </div>
                <div class="card-body px-5 pb-5 pt-4">
                    <form method="post" asp-area="Setup" asp-controller="Security" asp-action="EmailSetup" @*asp-route-returnurl="@Model.ResponseMSG"*@>

                        <div class="text-danger">
                            <label>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </label>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Email Id</label>
                                    @Html.TextBoxFor(p1 => p1.EmailId, new { @class = "form-control form-control-sm", @placeholder = "email id", @id = "txtEmailId", @required = true })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>User Name</label>
                                    @Html.TextBoxFor(p1 => p1.EmailUser, new { @class = "form-control form-control-sm", @placeholder = "email user name", @id = "txtUserName", @required = true })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Password</label>
                                    @Html.PasswordFor(p1 => p1.EmailPwd, new { @class = "form-control form-control-sm", @placeholder = "email pwd", @id = "txtPassword", @required = true })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>SMTP</label>
                                    @Html.TextBoxFor(p1 => p1.Smtp, new { @class = "form-control form-control-sm", @placeholder = "smtp server", @id = "txtSMTP", @required = true })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Port</label>
                                    @Html.TextBoxFor(p1 => p1.SmtpPort, new { @class = "form-control form-control-sm", @placeholder = "smtp port no", @id = "txtPort", @required = true })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label>Use SSL</label>
                                @Html.CheckBoxFor(p1 => p1.UseSSL, new { @class = "form-control form-control-sm", @placeholder = "use ssl", @id = "chkUseSSL", @required = true })
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Application User</label>
                                    @Html.TextBoxFor(p1 => p1.AppUser, new { @class = "form-control form-control-sm", @placeholder = "application user", @id = "txtAppUser", @required = true })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Application Pwd</label>
                                    @Html.PasswordFor(p1 => p1.AppPwd, new { @class = "form-control form-control-sm", @placeholder = "application pwd", @id = "txtAppPwd", @required = true })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>SMS API</label>
                                    @Html.TextBoxFor(p1 => p1.SMSAPI, new { @class = "form-control form-control-sm", @placeholder = "sms api", @id = "txtSMSAPI", @required = true })
                                </div>
                            </div>
                        </div>
                        <footer class="main-footer">
                            <div class="text-right control-btns">
                                <button type="submit" class="btn btn-primary">Update</button>
                                @*<button type="button" class="btn btn-primary" ng-click="UpdateEmailSetup()" ng-disabled="loadingstatus=='running'">Save</button>*@
                            </div>

                        </footer>
                    </form>
                   
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
</div>