@model Dynamic.BusinessEntity.NICBank.SCTQR

@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml") 

<div ng-class="{waiting: loadingstatus=='running'}">
    <div class="container-fluid">
        <div class="content">
            <div class="p-1"></div>
            <div class="card">
                <div class="card-header header-corner-triangle">
                    <h3 class="card-title">Smart QR Merchant Setup</h3>
                </div>
                <div class="card-body">
                    <form method="post" asp-area="Setup" asp-controller="Security" asp-action="SCTQR" @*asp-route-returnurl="@Model.ResponseMSG"*@>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="text-danger">
                                        <label>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        </label>
                                    </div>
                                    <div class="col-md-3" id="meet-others">
                                        <div class="form-group">
                                            <label for="">User Name<span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p1 => p1.UserName, new { @class = "form-control form-control-sm", @placeholder = "user name", @id = "txtUserName", @required = true })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Password<span style="color:red">*</span></label>
                                            @Html.PasswordFor(p1 => p1.Pwd, new { @class = "form-control form-control-sm", @placeholder = "password", @id = "txtPwd", @required = true })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Merchant Id<span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p1 => p1.MerchantId, new { @class = "form-control form-control-sm", @placeholder = "merchant id", @id = "txtMerchantId", @required = true })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="">Is Active</label>
                                            @Html.CheckBoxFor(p1 => p1.IsActive, new { @class = "form-control form-control-sm" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="search-toolbar mb-3 mt-2">
                                        <table cellpadding="12" class="table table-bordered table-striped table-hover table-sm" id="datatable">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;width:10%">
                                                        S.No
                                                        <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>

                                                    <th ng-click="sort('BranchName')" style="text-align: left; width: 50%;">
                                                        Branch
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='BranchName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>

                                                    <th ng-click="sort('TermId')" style="text-align: left; width: 40%;">
                                                        Term Id
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='TermId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.BranchColl.Count; i++)
                                                {
                                                    @Html.HiddenFor(p1 => Model.BranchColl[i].BranchId)
                                                    @Html.HiddenFor(p1 => Model.BranchColl[i].SNo)
                                                    @Html.HiddenFor(p1 => Model.BranchColl[i].BranchName)

                                                    <tr>
                                                        <td style="text-align:center;">
                                                            @Model.BranchColl[i].SNo
                                                        </td>
                                                        <td style="text-align: left;">
                                                            @Model.BranchColl[i].BranchName
                                                        </td>
                                                        <td style="text-align: left;">
                                                            @Html.TextBoxFor(p1 => Model.BranchColl[i].TermId, new { @class = "form-control form-control-sm", @required = true })
                                                        </td>

                                                    </tr>
                                                }


                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <footer class="main-footer">
                            <div class="text-right control-btns">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>

                        </footer>
                    </form>

                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>

</div>