
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script>
    var VoucherType = "@ViewBag.VoucherType";
    var EntityId = "@ViewBag.EntityId";
    var TranId=@ViewBag.TranId;
	 var DefaultKeyValues = "@ViewBag.DefaultKeyValues";
</script>
<link href="~/wwwroot/dynamic-erp/css/stock-flow.css" rel="stylesheet" />
<script src="~/jslib/account/transaction/Contra.js?v=20250922"></script>
<div ng-app="myApp" ng-controller="ContraController" ng-init="LoadData()" ng-cloak>
    <!-- Main content -->
    <div class="container-fluid p-0 bg-white h-100">
        <div class="sale-page-wrap cstm-stock-journal-page-wrap">
            <div class="overflow-hidden">
                @RenderPage("~/Views/Global/_WaitDialog.cshtml")
                @RenderPage("~/Views/Global/_LedgerDetails.cshtml")

                <!-- Page Content  -->
                <div class="content-wrapper-new pr-0">
                    <div class="card my-0 bodypart">
                        <div class="demo-container">
                            <div class="demo-header">
                                <div class="card-header header-corner-triangle py-1 px-3">
                                    <div class="row">
                                        <h3 class="card-title mr-4">{{SelectedVoucher && SelectedVoucher.VoucherName ? SelectedVoucher.VoucherName : 'Contra'}}</h3>
                                        <div class="col-md-3" ng-hide="HideShow.VoucherType==true">
                                            <div class="form-group row mb-0">
                                                <label class="col-md-4 text-nowrap">Voucher Type</label>
                                                <div class="col-md-8">
                                                    <select class="form-control form-control-sm hideSideBar" style="width: 100%;" ng-model="beData.VoucherId" ng-change="getVoucherNo()" ng-disabled="beData.TranId>0">
                                                        <option ng-repeat="vt in VoucherTypeColl track by vt.VoucherId" ng-value="vt.VoucherId" ng-selected="vt.VoucherId == beData.VoucherId">
                                                            {{vt.VoucherName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" ng-hide="HideShow.CostClass==true">
                                            <div class="form-group row mb-0">
                                                <label for="" class="col-sm-4 col-form-label text-nowrap">Fiscal Year</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control form-control-sm hideSideBar" style="width: 100%;" ng-model="beData.CostClassId" ng-change="getVoucherNo()" ng-disabled="beData.TranId>0">
                                                        <option ng-repeat="cc in CostClassColl track by cc.CostClassId" ng-value="cc.CostClassId" ng-selected="cc.CostClassId == beData.CostClassId">
                                                            {{cc.Name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" ng-show="SelectedVoucher.ActiveProject==true">
                                            <div class="form-group row mb-0">
                                                <label for="" class="col-sm-4 col-form-label text-nowrap">Project</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control form-control-sm hideSideBar" active-select2 style="width: 100%;" ng-model="beData.ProjectId" data-placeholder="** select project **">
                                                        <option ng-repeat="cc in ProjectColl track by cc.ProjectId" ng-value="cc.ProjectId" ng-selected="cc.ProjectId == beData.ProjectId">
                                                            {{cc.Name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1 ml-auto text-right">
                                            <div class="d-flex float-right mb-1">
                                                <div class="cursor-pointer"
                                                     data-toggle="collapse"
                                                     data-target="#collapseOne"
                                                     aria-expanded="{{!isCollapsed}}"
                                                     aria-controls="collapseOne"
                                                     ng-click="isCollapsed = !isCollapsed">
                                                    <i class="mt-2 mr-2 text-primary fas"
                                                       ng-class="{'fa-chevron-up': !isCollapsed, 'fa-chevron-down': isCollapsed}"></i>
                                                </div>
                                                <div class="dropdown cstm-more-actions">
                                                    <button class="btn btn-default right-sidebar-call dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        More
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                        <div class="custom-menu">
                                                            <button type="button" id="" class="btn btn-text-link w-100 ctmRightSidebarCollapse"> Remaining Details  <i class="fas fa-arrow-right m-0"></i></button>
                                                            <button type="button" id="ctmRightSidebarCollapse1" class="btn btn-secondary" ng-click="UDFClick=!UDFClick" ng-show="SelectedVoucher.ActiveUDF==true">UDF</button>
                                                            <input class="btn btn-secondary" id="ctmRightSidebarCollapse2" type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" product-file-model ng-model="ImportItemData.Files_TMP" itemfilepath="ItemFilePath" sheetcoll="SheetColl" />
                                                            <button class="btn btn-text-link w-100 dropdown-toggle w-100" type="button" ng-click="ShowMultipleModal()">
                                                                <i class="fas fa-file-import"></i> Create Multiple Data
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-3 pt-2 pb-1 gradient-bg">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group mb-2 d-flex">
                                                <label for="" style="min-width:120px;">Voucher No.</label>
                                                <input type="text" class="form-control form-control-sm serial" placeholder="" ng-model="beData.AutoManualNo" readonly ng-hide="HideShow.AutoVoucherNo==true" title="{{beData.TranId>0 ? beData.TranId : ''}}">
                                                <input type="text" class="form-control form-control-sm serial hideSideBar" placeholder="" ng-model="beData.ManualVoucherNO" ng-hide="HideShow.AutoVoucherNo==false" title="{{beData.TranId>0 ? beData.TranId : ''}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="d-flex justify-content-between dynamic-uiux-page-wrap" style="gap: 8px">
                                                <div style="display: flex; flex-grow: 1;">
                                                    <div class="cstm-three-elems-wrap">
                                                        <div>
                                                            <div class="form-group mb-2 row">
                                                                <label for="" class="col-md-4">{{SelectedVoucher.RefNoName ? SelectedVoucher.RefNoName : 'Ref. No.'}}</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control form-control-sm" ng-model="beData.RefNo" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div ng-show="SelectedVoucher.AllowMultipleCurrency==true && CurrencyColl.length>1">
                                                                <div class="form-inline dynamic-uiux">
                                                                    <label for="inputEmail3" class="mb-2 mx-sm-2">Currency</label>
                                                                    <select class=" form-control form-control-sm mb-2 mr-sm-3" style="min-width: 64px" ng-model="beData.CurrencyId" ng-change="ChangeCurrency()">
                                                                        <option ng-repeat="curC in CurrencyColl" ng-value="curC.CurrencyId" ng-selected="curC.CurrencyId == beData.CurrencyId">
                                                                            {{curC.Name}}
                                                                        </option>
                                                                    </select>
                                                                    <label for="inputEmail3" class="mb-2 mr-sm-2">Rate</label>
                                                                    <input type="number" class="form-control form-control-sm serial mb-2" style="max-width: 80px" placeholder="" ng-model="beData.CurRate" onfocus="this.select();">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cstm-voucher-date-group-field section-wrapper">
                                                        <div class="form-group d-flex">
                                                            <label for="">Voucher Date</label>
                                                            <div class="form-group d-flex" @*ng-hide="SelectedVoucher.DateStyle==1"*@ id="dvDTVoucher">
                                                                <input type="text" class="form-control form-control-sm" date-picker ng-model="beData.VoucherDate_TMP" date-detail="beData.VoucherDateDet" confirm-action="getVoucherNoOnly()" title="{{(SelectedVoucher.DateStyle==1 ? beData.VoucherDateDet.dateBS : (beData.VoucherDateDet.dateAD |dateFormat))}}" date-style="SelectedVoucher.DateStyle" id="dtVoucherDate" voucherid="SelectedVoucher.VoucherId">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group d-flex">
                                                <label for="" style="min-width:120px">Select Cash/Bank</label>
                                                <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-ledger ng-model="beData.CashBankLedgerId" id="cboCashBank" @*style="width:95%"*@ ledgertype="8" fortransaction="true"
                                                        placeholder="** Select Cash/Bank Name **" showdetails="true" confirm-action="ChangeCashBankLedger(beData)" ledger-detail="beData.LedgerDetails" side-bar-data="beData.partySideBarData" voucher-id="SelectedVoucher.VoucherId" vouchertype="4"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="SelectedVoucher.ActiveUDF==true">
                                        <div class="col-sm-3" ng-repeat="uf in beData.UDFFeildsColl | filter: { FieldAfter: 4 }:true">
                                            <div class="form-group d-flex">
                                                <label style="min-width: 120px;">{{uf.Name}} <span style="color:red" ng-show="uf.IsMandatory==true">*</span></label>
                                                <udf-field udf="uf" voucher="SelectedVoucher" change-event="ChangeUDFField(uf.NameId)"></udf-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-scroll-x-y table-container flex-grow-1">
                                <div class="outer-scroll-wrapper-h-scrollbar-fix">
                                    <div class="table-h-scrollbar-fix table-scroll-wrapper h-100">
                                        <table id="main-table" make-table-resizable class="main-table table table-sm table-bordered bg-white cstm-table-row-move-up dynamic-uiux-table">
                                            <thead class="text-center">
                                                <tr>
                                                    <th style="width: 50px;">S.No.</th>
                                                    <th style="width: 200px;z-index:3">Particulars</th>
                                                    <th ng-repeat="ud in SelectedVoucher.VoucherProductUDFColl  | filter: { FieldAfter: 1 }:true" rowspan="2" class="text-center align-middle" style="width: 120px;">{{ud.Label}}</th>
                                                    <th style="width: 150px;">Current Bal.</th>
                                                    <th ng-repeat="ud in SelectedVoucher.VoucherProductUDFColl  | filter: { FieldAfter: 5 }:true" rowspan="2" class="text-center align-middle" style="width: 120px;">{{ud.Label}}</th>
                                                    <th style="width: 150px;">Amount</th>
                                                    <th ng-show="SelectedVoucher.EachNarrationEntry==true" style="width: 150px;">Narration</th>
                                                    <th class="align-middle" ng-show="SelectedVoucher.EnableAuthorized==true" style="width: 150px;">Authorized By</th>
                                                    <th ng-repeat="ud in SelectedVoucher.VoucherProductUDFColl  | filter: { FieldAfter: 0 }:true" rowspan="2" class="text-center align-middle" style="width: 120px;">{{ud.Label}}</th>
                                                    <th class="text-center align-middle cstm-sticky sticky-action-col highlight-on-scroll" style="width: 76px;">
                                                        <select id="table-action-select" class="form-control form-control-sm action-dropdown">
                                                            <option value="" disabled selected>Action</option>
                                                            <option value="save">Save Layout</option>
                                                            <option value="reset">Reset Layout</option>
                                                        </select>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="ledAllocation in beData.LedgerAllocationColl">
                                                    <td align="center">{{$index+1}}</td>
                                                    <td>
                                                        <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-ledger ng-model="ledAllocation.LedgerId" ledgertype="8" fortransaction="true"
                                                                placeholder="** Select Ledger Name **" showdetails="true" confirm-action="ChangeParticularLedger(ledAllocation)" ledger-detail="ledAllocation.LedgerDetails" side-bar-data="ledAllocation.partySideBarData" voucher-id="SelectedVoucher.VoucherId" vouchertype="4"></select>

                                                    </td>
                                                    <td ng-repeat="uf in ledAllocation.UDFFeildsColl | filter: { FieldAfter: 1 }:true ">
                                                        <udf-field udf="uf" voucher="SelectedVoucher"></udf-field>
                                                    </td>
                                                    <td>{{ledAllocation.CurrentBal |accountFormat}}</td>
                                                    <td ng-repeat="uf in ledAllocation.UDFFeildsColl | filter: { FieldAfter: 5 }:true ">
                                                        <udf-field udf="uf" voucher="SelectedVoucher"></udf-field>
                                                    </td>
                                                    <td><input type="text" number-input noofdecimal="SelectedVoucher.NoOfDecimalPlaces" style="text-align:right" onfocus="this.select();" class="form-control form-control-sm" ng-model="ledAllocation.CrAmount" ng-blur="AddRowInLedgerAllocation($index,true)" ng-change="ChangeCrAmount(ledAllocation)" positive="true"></td>
                                                    <td ng-show="SelectedVoucher.EachNarrationEntry==true"><input type="text" onfocus="this.select();" class="form-control form-control-sm" ng-model="ledAllocation.Narration"></td>
                                                    <td ng-show="SelectedVoucher.EnableAuthorized==true">
                                                        <select class="form-control form-control-sm select2" active-select2 style="width: 100%; background-color: #fff" ng-model="ledAllocation.AuthorizedUserId" data-placeholder="**User**">
                                                            <option ng-repeat="cc in UserList track by cc.UserId" ng-value="cc.UserId" ng-selected="cc.UserId == ledAllocation.AuthorizedUserId">
                                                                {{cc.FirstName}} {{cc.LastName}} ({{cc.UserName}})
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td ng-repeat="uf in ledAllocation.UDFFeildsColl | filter: { FieldAfter:0 }:true ">
                                                        <udf-field udf="uf" voucher="SelectedVoucher"></udf-field>
                                                    </td>
                                                    <td class="project-actions text-center text-center cstm-sticky sticky-action-col highlight-on-scroll">
                                                        <div class="btn-group-sm">
                                                            <a class="btn btn-info" href="#" data-original-title="Add Row" ng-click="AddRowInLedgerAllocation($index)">
                                                                <i class="fas fa-plus"></i>
                                                            </a>
                                                            <a class="btn btn-danger" href="#" data-original-title="Delete Row." ng-click="delRowLedgerAllocation($index)">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @*<div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Narration</label>
                                    <input type="text" list="lstNarration" class="form-control form-control-sm hideSideBar" name="" id="" rows="3" placeholder="Narration" ng-model="beData.Narration">
                                    <datalist id="lstNarration">
                                        <option ng-repeat="x1 in NarrationList track by $index" value="{{x1}}">
                                    </datalist>
                                </div>
                            </div>
                        </div>*@

                </div>

                <div class="modal fade sales-quotation-page-modal document-attach-modal dynamic-uiux-modal modal-static-esc" id="searVoucherRightBtn" tabindex="-1" role="dialog" aria-labelledby="partyAccRightBtn" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content" style="min-width:1000px">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalCenterTitle">Search Contra</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body gradient-bg">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group row">
                                            <label for="" class="col-sm-2 col-form-label col-form-label-sm text-center">Search By</label>
                                            <div class="col-sm-10">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <select class="form-control form-control-sm " style="width: 100%;" ng-model="paginationOptions.SearchColDet">
                                                            <option ng-value="asp" ng-repeat="asp in VoucherSearchOptions">{{asp.text}}</option>
                                                        </select>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="" ng-model="paginationOptions.SearchVal" ng-change="ReSearchData(-1)">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-search" ng-click="ReSearchData(-1)"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <form class="float-right">
                                            <div class="form-row align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <label class="mr-sm-2 mb-0" for="inlineFormCustomSelect">Show</label>
                                                    <input type="text" ng-model="paginationOptions.pageSize" class="form-control form-control-sm input-sm" placeholder="NoOfRows" @*ng-blur="ReSearchData(-2)"*@>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="table-scroll-x-y mb-1 table-container card" style="height:auto !important;">
                                    <table id="main-table" class="main-table table table-sm table-bordered bg-white text-nowrap table-hover" style="table-layout: auto;">
                                        <thead>
                                            <tr>
                                                <th style="z-index: 3;">Voucher No</th>
                                                <th style="z-index: 3;">RefNo</th>
                                                <th style="z-index: 3;">Date</th>
                                                <th style="z-index: 3;">Miti</th>
                                                <th style="z-index: 3;">Voucher Name</th>
                                                <th style="z-index: 3;">CostClass</th>
                                                <th style="z-index: 3;">Ledger</th>
                                                <th style="z-index: 3;">Party</th>
                                                <th style="z-index: 3;">Amount</th>
                                                <th class="cstm-sticky" style=" right:0; z-index: 5;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="sd in SearchDataColl |orderBy:sortKey:reverse|itemsPerPage:paginationOptions.pageSize" total-items="paginationOptions.TotalRows" ng-class="{'bg-red': sd.IsCancel === true}">
                                                <td align="center">{{sd.VoucherNo}}</td>

                                                <td>{{sd.RefNo}}</td>
                                                <td align="center">{{sd.VoucherDate |dateFormat}}</td>
                                                <td align="center">{{sd.VoucherMiti}}</td>
                                                <td>{{sd.VoucherName}}</td>
                                                <td>{{sd.CostClass}}</td>
                                                <td>{{sd.PartyLedger}}</td>
                                                <td>{{sd.PartyName}}</td>
                                                <td align="right">{{sd.Amount |number:3}}</td>
                                                <td class="text-center cstm-sticky" style="z-index: 3; right: 0;  background-color: white !important;">
                                                    <a class="p-1" href="#" ng-click="GetTransactionById(sd)" ng-hide="ButtonED.IRD==true">
                                                        <i class="fas fa-edit text-info"></i>
                                                    </a>
                                                    <a class="p-1" href="#" ng-click="GetTransactionById(sd)" ng-hide="ButtonED.IRD==false">
                                                        <i class="fa fa-eye text-info"></i>
                                                    </a>
                                                    <a class="p-1" href="#" ng-click="DelTransactionById(sd)" ng-hide="ButtonED.IRD==true">
                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                    </a>
                                                    <a class="p-1" href="#" ng-click="PrintVoucher(sd.TranId,sd.VoucherId)">
                                                        <i class="fas fa-print text-primary"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                                <dir-pagination-controls max-size="paginationOptions.pageSize" direction-links="true" boundary-links="true"
                                                         on-page-change="ReSearchData(newPageNumber)">
                                </dir-pagination-controls>
                            </div>
                            <!-- end modal body -->
                            <div class="modal-footer justify-content-between align-items-center py-2">
                                <h6 class="mb-0">Total Record: {{paginationOptions.TotalRows}}</h6>
                                <div class="">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!--/. container-fluid -->
    </div>
    <!-- /.content -->

    <footer class="main-footer control-btns pt-0">
        <div class="secondary-footer mb-2 mt-2">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <input type="text" list="lstNarration" class="form-control form-control-sm hideSideBar" name="" id="" rows="3" placeholder="Narration" ng-model="beData.Narration">
                        <datalist id="lstNarration">
                            <option ng-repeat="x1 in NarrationList track by $index" value="{{x1}}">
                        </datalist>
                    </div>
                </div>
                <div class=" col-md-3">
                    <div class="form-group row">
                        <label for="" class="col-md-2">Total</label>
                        <label class="form-control form-control-sm col-md-9">
                            {{ beData.Amount |number:SelectedVoucher.NoOfDecimalPlaces }}
                        </label>

                    </div>
                </div>
            </div>
            <div class="row ">

                <div class="col-md-4">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#documentAttachModal">
                        Document Attach ({{ (beData.AttechFiles.length+(beData.DocumentColl ? beData.DocumentColl.length : 0)) }} )
                    </button>

                </div>
                <div class="col-md-8">
                    <span class="d-block text-right">
                        <button type="button" class="btn btn-default dynamic-uiux" style="min-width: 90px;" ng-click="SearchData()">Search</button>
                        <button type="button" class="btn btn-default dynamic-uiux" style="min-width: 90px;" ng-click="Print()">Re-Print</button>
                        <button type="button" class="btn btn-outline-danger dynamic-uiux" style="min-width: 90px;" ng-click="Clear()">Reset</button>
                        <button type="button" class="btn btn-primary dynamic-uiux" style="min-width: 90px;" ng-click="SaveContra()" ng-disabled="loadingstatus=='running' || (ButtonED.IRD == true && beData.TranId>0)">{{beData.Mode}}</button>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    @*file-upload modal*@
    @*file-upload modal*@
    <div class="modal fade sales-invoice-page-modal document-attach-modal  dynamic-uiux-modal modal-static-esc" id="documentAttachModal" tabindex="-1" role="dialog" aria-labelledby="documentAttachModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalCenterTitle">Document Attach</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body gradient-bg">
                    <div class="timeline-item">
                        <div class="add-more-than-one-form-block">
                            <form>
                                <article>
                                    @*<div class="row">
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Attach Document</label>
                                                            <div class="form-group">
                                                                <input type="file" id="flMoreFiles" class="form-control-file border p-0 bg-white" file-model ng-model="attachFile">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            <input type="text" class="form-control form-control-sm"
                                                                   ng-model="docDescription"
                                                                   placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="d-flex">
                                                            <div>
                                                                <label class="invisible d-block">for height</label>
                                                                <button type="button" class="btn btn-sm btn-outline-secondary light-btn" ng-click="AddMoreFiles(attachFile,docDescription)"><i class="fas fa-plus"></i> Add More</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Attach Document</label>
                                                    <div class="new-cstm-file-upload">
                                                        <div class="drop-area" file-drop>
                                                            <div class="icon"></div>
                                                            <h3>Drag & Drop Files Here</h3>
                                                            <p>or <span>click to browse</span></p>
                                                            <input type="file" id="flMoreFiles" multiple file-model ng-model="attachFile">
                                                            <div class="attached-list">
                                                                <ul class="file-list"></ul>
                                                                <button class="btn btn-sm text-danger clear-files" style="display: none;">Clear</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="d-flex flex-column h-100 justify-content-between">
                                                    <div class="form-group">
                                                        <label>Description</label>

                                                        <textarea class="form-control form-control-sm dynamic-uiux" rows="4" ng-model="docDescription"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <div>
                                                            <label class="invisible d-none">for height</label>
                                                            <button type="button" class="btn btn-sm btn-outline-primary btn-block py-1" ng-click="AddMoreFiles(attachFile,docDescription)"><i class="fas fa-plus"></i> Add More</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </form>
                        </div>
                        <div class="pb-3">
                            <div class="table-responsive">
                                <table class="table table-hover border bg-white">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width: 20px">SN.</th>

                                            <th scope="col">File Name</th>
                                            <th scope="col">Description</th>
                                            <th scope="col" style="width: 130px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ac in beData.DocumentColl">
                                            <th scope="row">{{$index+1}}</th>

                                            <td>{{ac.Name}}</td>
                                            <td>{{ac.Description}}</td>
                                            <td>
                                                <div>
                                                    <a class="p-1" href="#" ng-click="ShowPersonalImg(ac)" data-toggle="tooltip" data-placement="top" title="" data-original-title="View doc">
                                                        <i class="fas fa-eye text-secondary"></i>
                                                    </a>

                                                    <a class="p-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete doc." ng-click="delAttachmentFiles($index)">
                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-2">
                    <button type="button" class="btn btn-sm btn-add btn-outline-secondary" style="width:50px" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>


    <!--New Modal Adde by Suresh Starts on 31 Shrawan 2080-->
    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="PersonalImg" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body mb-0 p-2">
                    <iframe class="responsive-iframe" ng-hide="viewImg.FileType === 'image'" id="pdfViewer" style="width: 100%; height: 700px; border: none;"></iframe>
                    <img ng-show="viewImg.FileType === 'image'" ng-src="{{viewImg.ContentPath}}" alt="" style="width: 100%; height: auto;" id="imgPreviewAdd">
                </div>
                <div class="modal-footer p-2">
                    <div><a href="{{viewImg.ContentPath}}" download>Download</a></div>
                    <button class="btn btn-success btn-rounded btn-sm ml-4 btn-add text-center" data-dismiss="modal" type="button" style="min-width: 70px;">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Ends-->
    <!-- Add ReportTemplates Modal Dailog -->
    <div class="modal fade bd-example-modal-xl sales-invoice-page-modal  dynamic-uiux-modal modal-static-esc" id="FrmPrintReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalCenterTitle">Report Viewer</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <iframe id="frmRpt" style='width: 100%; height: 600px; background-color: white; visibility:visible;' frameborder='0' scrolling='yes'></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Cheque Detail Modal Starts-->
    <div class="modal fade bd-example-modal-xl sales-invoice-page-modal  dynamic-uiux-modal modal-static-esc" id="chequedetail">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Cheque Details For : {{CurLedgerAllocation.LedgerName}} </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label>Cheque No</label>
                        </div>
                        <div class="col-md-8">
                            @*<input type="text" class="form-control form-control-sm" ng-model="CurLedgerAllocation.CheckDetails.ChequeNo" />*@
                            <select class="form-control form-control-sm" active-select2 style="width: 100%;" ng-model="CurLedgerAllocation.CheckDetails.ChequeId" ng-change="ChequeNoSelect(CurLedgerAllocation)">
                                <option ng-repeat="vt in CurLedgerAllocation.PendingChequeColl" ng-value="{{vt.ChequeId}}" ng-selected="vt.ChequeId == ts.ChequeId">
                                    {{vt.DisplayChequeNo}}-{{vt.BranchName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label>Cheque Date</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control form-control-sm" date-picker ng-model="CurLedgerAllocation.CheckDetails.ChequeDate_TMP" date-detail="CurLedgerAllocation.CheckDetails.ChequeDateDet">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label>Cheque Type</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control form-control-sm" style="width: 100%;" ng-model="CurLedgerAllocation.CheckDetails.CheckType">
                                <option ng-repeat="vt in ChequeTypeColl" ng-value="{{vt.id}}" ng-selected="vt.id == ts.TdsVatType">
                                    {{vt.text}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label>Account No</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control form-control-sm" ng-model="CurLedgerAllocation.CheckDetails.AccountNo" readonly />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label>Party</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control form-control-sm" ng-model="CurLedgerAllocation.CheckDetails.PartyName" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label>Remarks</label>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control form-control-sm" rows="2" placeholder="" ng-model="CurLedgerAllocation.CheckDetails.Remarks"></textarea>
                        </div>
                    </div>


                    <div class="time-label">
                        <span class="d-block border-0 p-3 text-center">
                            <button type="button" class="btn btn-sm btn-danger" style="min-width: 70px;" data-dismiss="modal" aria-label="Close">Ok</button>
                            @*<button type="button" class="btn btn-sm btn-success" style="min-width: 70px;">Save</button>*@
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--Cheque Detail Modal Ends-->
    <!--Cheque Detail Modal Starts-->
    <div class="modal fade bd-example-modal-xl sales-invoice-page-modal  dynamic-uiux-modal modal-static-esc" id="chequedetailRec">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Cheque Details For : {{CurLedgerAllocation.LedgerName}} </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label>Cheque No</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control form-control-sm" ng-model="CurLedgerAllocation.CheckDetails.ChequeNo" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label>Cheque Date</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control form-control-sm" date-picker ng-model="CurLedgerAllocation.CheckDetails.ChequeDate_TMP" date-detail="CurLedgerAllocation.CheckDetails.ChequeDateDet">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label>Cheque Type</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control form-control-sm" style="width: 100%;" ng-model="CurLedgerAllocation.CheckDetails.CheckType">
                                <option ng-repeat="vt in ChequeTypeColl" ng-value="{{vt.id}}" ng-selected="vt.id == ts.TdsVatType">
                                    {{vt.text}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label>Account No</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control form-control-sm" ng-model="CurLedgerAllocation.CheckDetails.AccountNo" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label>Remarks</label>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control form-control-sm" rows="2" placeholder="" ng-model="CurLedgerAllocation.CheckDetails.Remarks"></textarea>
                        </div>
                    </div>


                    <div class="time-label">
                        <span class="d-block border-0 p-3 text-center">
                            <button type="button" class="btn btn-sm btn-danger" style="min-width: 70px;" data-dismiss="modal" aria-label="Close">Ok</button>
                            @*<button type="button" class="btn btn-sm btn-success" style="min-width: 70px;">Save</button>*@
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--Cheque Detail Modal Ends-->
    @RenderPage("~/Views/Global/_IsValidTran.cshtml")


    <!--Ledger Wise UDF Detail Modal Starts-->
    <div class="modal fade bd-example-modal-xl sales-invoice-page-modal  dynamic-uiux-modal modal-static-esc" id="ledgerUDF">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Details For : {{CurLedgerAllocation.LedgerDetails.Name}} </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2" ng-repeat="uf in CurLedgerAllocation.LedgerUDFColl">
                        <div class="col-md-4">
                            <label>{{uf.Name}}<span style="color:red" ng-show="uf.IsMandatory==true">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <udf-field udf="uf" voucher="SelectedVoucher"></udf-field>
                        </div>
                    </div>
                    <div class="time-label">
                        <span class="d-block border-0 p-3 text-center">
                            <button type="button" class="btn btn-sm btn-danger" style="min-width: 70px;" data-dismiss="modal" aria-label="Close">Ok</button>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--Cheque Detail Modal Ends-->
</div>
<script src="~/wwwroot/dist/js/cstmjs.js"></script>
<script>
    $(function () {
        $("#wrapper").toggleClass("toggled");
        $("#sidebar-wrapper").css("overflow-y", "hidden");

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            $("#sidebar-wrapper").css("overflow-y", "auto");
        });
    });
</script>
<script>
    (function ($) {

        "use strict";

        var fullHeight = function () {

            $('.js-fullheight').css('height', $(window).height());
            $(window).resize(function () {
                $('.js-fullheight').css('height', $(window).height());
            });

        };
        fullHeight();

        $('.ctmRightSidebarCollapse').on('click', function () {
            $('#sidebarzz').toggleClass('active');
        });

    })(jQuery);
</script>


<script>
    $(document).ready(function () {
        $(document).on('keyup', '.serial', function (e) {
            if (e.which == 13) {
                //var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
                //if (key == 13) {
                //    e.preventDefault();
                //    var inputs = $(this).closest('form').find(':input:visible');
                //    inputs.eq(inputs.index(this) + 1).focus();
                //}

                var index = $('.serial').index(this) + 1;
                $('.serial').eq(index).focus();
            }
        });
    });
</script>

<script>
    document.querySelector('.responsive-iframe').onload = function () {
        const iframeDocument = this.contentDocument || this.contentWindow.document;
        const img = iframeDocument.querySelector('img');
        if (img) {
            img.style.width = '100%';
            img.style.height = 'auto';
        }
    };
</script>
